<!-- -->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <span ion-text>{{ instituicao.name }}</span>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="common-bg">

  <!--services-->
  <ion-grid class="border-bottom dark-bg">
    <ion-row>
      <ion-col text-center>
        <span ion-text color="light" class="text-white">CAMPANHAS DA INSTITUIÇÃO</span>
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-content padding class="trip-info card round">
    <!--list of trips-->


    <div class="trip card" *ngFor="let capanhas of campanhasData" tappable margin-bottom>

      <div class="background border-bottom">
        <ion-toolbar padding color="light">
          <p ion-text no-margin class="ion-text;text-white">
            <strong>{{ capanhas.dscampanha }}</strong>
          </p>
        </ion-toolbar>
      </div>


      <ion-segment color="secondary" [(ngModel)]="paymethods">
        <ion-segment-button value="itens{{ capanhas.codcampanha }}">
          <strong></strong> Itens Doar
        </ion-segment-button>
        <ion-segment-button value="onde{{ capanhas.codcampanha }}" (click)="buscalocaldoar(capanhas.codcampanha);">
          Onde Doar
        </ion-segment-button>
      </ion-segment>


      <div [ngSwitch]="paymethods">
        <ion-grid *ngSwitchCase="'itens'+capanhas.codcampanha" padding>
          <div class="border-bottom" padding>
            <ion-icon name="checkmark" class="text-green"></ion-icon>
            <span ion-text class="text-center bold ">{{ capanhas.dsitemdoar }}</span>
          </div>
        </ion-grid>



        <ion-grid *ngSwitchCase="'onde'+capanhas.codcampanha" padding>
          <div class="border-bottom" padding>
            <div *ngFor="let localdoacao of doacaoData" tappable margin-bottom>
              <ion-icon name="checkmark" class="text-green"></ion-icon> <span ion-text class="text-center bold">{{ localdoacao.dslocal }} - {{localdoacao.dsendereco}}</span>
            </div>
          </div>
        </ion-grid>
      </div>

    </div>

  </ion-content>
</ion-content>